*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:#1b758e;
    width:600;
    font-size: 16;
    height:600;
    margin: 250px auto;

}
.wrapper{
    width: 500px;
    height: 500px;
    margin: 250px auto;
    border-radius: 15px;
    padding: 30px 40px 40px;
    background-color: white;
    color: black;
    font-size: 25px;
}
.wrapper h1{
    color: black;
    text-align: center;
}
.input input{
    width: 100%;
    font-size: 1em;
    border: 1px solid black;
    padding: 10px 10px;
    box-sizing:border-box;
    margin: 5px 0px 15px;
}
.button-1{
    text-align: center;  
}
button{
    width: 90%;
    height: 40%;
    margin: 20px;
    font-size: 30px;
    color: white;
    margin-bottom: 30px;
    padding: 20px 20px;
    margin-top: 20px;
    background-color:#1b758e;
}
